.root {
    -fx-background-color: #999999;
    -fx-background-image: url('../img/gui/black-smoke.png');
    -fx-min-height: 720;
    -fx-min-width: 1280;
}

#text-button {
    -fx-border: none;
    -fx-background-color: none;
    -fx-pref-width: 240;
    -fx-pref-height: 55;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-cursor: pointer;
    -fx-outline: none;

}

#text-button:hover {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-padding: 5 0 0 30;
}

#title-button {
    -fx-border: none;
    -fx-background-color: none;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px 10px;
    -fx-font-size: 40px;
    -fx-cursor: pointer;
    -fx-display: inline-block;
    -fx-outline: none
}

#label {
    -fx-text-fill: #a0a0a0;
}

#label2 {
    -fx-text-fill: #ffffff;
}

#back-button {
    -fx-graphic: url('../img/gui/back-button.png');
    -fx-background-color: none;
}

#play-button {
    -fx-background-radius: 50, 50, 50;
    -fx-background-color: #363636;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: pointer;
    -fx-outline: none;
    -fx-pref-width: 80;
    -fx-pref-height: 32;
}

#play-button:hover {
    -fx-background-color: #4E4E4E;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-translate-x: -10;
    -fx-font-size: 20px;
}

/*re-align play button*/
#play-button:pressed {
    -fx-background-radius: 50, 50, 50;
    -fx-background-color: #232323;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: pointer;
    -fx-outline: none;
    -fx-pref-width: 80;
    -fx-pref-height: 32;
    -fx-translate-x: 0;
}

#ready-button {
    -fx-background-radius: 50, 50, 50;
    -fx-background-color: #363636;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-cursor: pointer;
    -fx-outline: none;
    -fx-pref-width: 160;
    -fx-pref-height: 64;
}

#ready-button:hover {
    -fx-background-color: #4E4E4E;
    -fx-pref-width: 200;
    -fx-pref-height: 80;
    -fx-translate-x: -10;
    -fx-font-size: 24px;
}


/*re-align play button*/
#ready-button:pressed {
    -fx-background-radius: 50, 50, 50;
    -fx-background-color: #232323;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-cursor: pointer;
    -fx-outline: none;
    -fx-pref-width: 160;
    -fx-pref-height: 64;
    -fx-translate-x: 0;
}